@import "tailwindcss";

body {
  background-color: #f4edf8;
}
* { 
  
  box-sizing: border-box;
}



/* tailwind styles */

.btn-primary {
  @apply bg-white text-[#6e8efb] px-6 py-3 sm:px-8 sm:py-4 rounded-full font-bold text-base sm:text-lg hover:scale-105 transition-transform duration-300 shadow-lg hover:shadow-xl
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}




